#!/usr/bin/env ansible-playbook
- name: Set up laptop
  hosts: all
  connection: local
  collections:
  - community.general.snap
  tasks:
    - name: Upgrade the OS
      apt:
        upgrade: dist
      become: true
    - name: Apt install packages
      apt:
        pkg:
        - adb
        - aircrack-ng
        - autoconf
        - build-essential
        - clang
        - cmake
        - curl                # Needed to set up rustup
        - docker
        - docker-compose
        - git
        - gnupg2              # Needed for yubikey smart card
        - gnupg-agent         # Needed for yubikey smart card
        - golang
        - htop
        - libfreetype6-dev    # Needed to build alacritty
        - libfontconfig1-dev  # Needed to build alacritty
        - libssl-dev          # Needed to build alacritty
        - libxcb-xfixes0-dev  # Needed to build alacritty
        - meld
        - net-tools
        - nmap
        - pipenv
        - pkg-config
        - python3
        - scdaemon            # Needed for yubikey smart card
        - synaptic
        - texstudio
        - tmux
        - wireshark
        - vim
        - zsh
      become: true
    - name: Install snaps
      snap:
        name:
          - chromium
          - discord
          - firefox
          - signal-desktop
          - spotify
          - zoom-client
      become: true
    - name: Install snaps without confinement
      snap:
        name:
          - android-studio
          - aws-cli
          - clion
          - code
          - datagrip
          - dotnet-sdk
          - goland
          - helm
          - intellij-idea-ultimate
          - kubectl
          - node
          - pycharm-professional
          - rider
          - slack
          - webstorm
        classic: true
      become: true
    - name: Install dotnet
      snap:
        name:
          - dotnet-sdk
        classic: true
        channel: 3.1/stable
    - name: Set shell to zsh
      shell: chsh -s $(which zsh) stusmall
      become: yes
    - name: Set zshrc
      copy:
        src: zshrc
        dest: ~/.zshrc
        force: yes
    - name: Set vimrc
      copy:
        src: vimrc
        dest: ~/.vimrc
        force: yes
    - name: Set gitconfig
      copy:
        src: gitconfig
        dest: ~/.gitconfig
        force: yes
    - name: Install oh my zsh
      shell: ls ~/.oh-my-zsh/ || sh -c "$(curl -fsSL https://raw.github.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" --unattended
    - name: Install Rust
      shell: rustup --help || curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
    - name: Install Cargo packages
      shell: ~/.cargo/bin/cargo install alacritty cargo-audit cargo-outdated cargo-update ripgrep tokei
    - name: Check for updates for already installed Cargo packages
      shell: ~/.cargo/bin/cargo install-update -a
    - name: Add Alacritty Icon
      copy:
        src: Alacritty.svg
        dest: /usr/share/pixmaps/Alacritty.svg
      become: yes
    - name: Add alacritty desktop file
      shell: desktop-file-install Alacritty.desktop && update-desktop-database
      become: yes
    - name: Set dark theme
      shell: gsettings set org.gnome.desktop.interface gtk-theme 'Adwaita-dark'
    - name: Enable autohide for dock
      shell: gsettings set org.gnome.shell.extensions.dash-to-dock dock-fixed false
    - name: Disable natural scrolling on mouse
      shell: gsettings set org.gnome.desktop.peripherals.mouse natural-scroll false
    - name: Disable natural scrolling on touchpad
      shell: gsettings set org.gnome.desktop.peripherals.touchpad natural-scroll false
    - name: Disable middle click paste 
      shell: gsettings set org.gnome.desktop.interface gtk-enable-primary-paste false
    - name: Disable tap to click
      shell: gsettings set org.gnome.desktop.peripherals.touchpad tap-to-click false
    - name: Set Favorite Apps
      shell: gsettings set org.gnome.shell favorite-apps "['firefox.desktop', 'Alacritty.desktop', 'spotify_spotify.desktop', 'signal-desktop_signal-desktop.desktop', 'slack_slack.desktop', 'clion_clion.desktop', 'pycharm-professional_pycharm-professional.desktop']"
